<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Buddy</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/bootstrap.min.css">
    </head>

    <body>

        <div class="container">

            <h1 class="text-center">Someone is always listening !!</h1>
            <div class="media">
                <img class="rounded-circle float-left img-thumbnail" width ="75px" src="../static/chatbot.jpg" alt="">
                <div class="media-body">
                    <h5 style="margin: 10px;">Buddy</h5>
                    <span style="margin-left: 10px;">Online</span>
                </div>
            </div>


            <!--Messages container-->
            <div id="chatContainer" class="container border overflow-auto" style="height:400px">

                <!-- Chatbot message design -->
                <!-- <div class="w-50 float-left shadow-sm" style="margin:10px ; padding:5px;">
                    <span>Chat:</span>
                    <span style="margin-top: 10px;padding: 10px;">How are you?</span>
                </div> -->
                <!-- User message design -->
                <!-- <div class="w-50 float-right shadow-sm" style="margin:10px ; padding:5px;">
                    <span>You:</span>
                    <span style="margin-top: 10px;padding: 10px;">Great</span>
                </div> -->



            </div>

            <div class="input-group">
                <input id="textbox" type="text" class="form-control">

                <div class="input-group-append">

                        <button type="button" id="sendBtn" class="btn btn-primary">Send</button>
                </div>

            </div>


        </div>






<script type="text/javascript" src="../static/bootstrap.min.js">

</script>

<script src="../static/main.js"></script>

</body>
</html>
